@font-face {
  font-family: "toutiao";
  /* Project id 3152292 */
  src: url('//at.alicdn.com/t/font_3152292_dw5lrg7osda.woff2?t=1642597194887') format('woff2'), url('//at.alicdn.com/t/font_3152292_dw5lrg7osda.woff?t=1642597194887') format('woff'), url('//at.alicdn.com/t/font_3152292_dw5lrg7osda.ttf?t=1642597194887') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-pinglun:before {
  content: "\e60a";
}
.toutiao-dianzan:before {
  content: "\e60b";
}
.toutiao-gengduo:before {
  content: "\e60c";
}
.toutiao-wode:before {
  content: "\e60d";
}
.toutiao-lishi:before {
  content: "\e60e";
}
.toutiao-shouji:before {
  content: "\e60f";
}
.toutiao-wuwangluo:before {
  content: "\e610";
}
.toutiao-shanchu:before {
  content: "\e611";
}
.toutiao-guanbi:before {
  content: "\e612";
}
.toutiao-yanzhengma:before {
  content: "\e613";
}
.toutiao-sousuo:before {
  content: "\e614";
}
.toutiao-wenda:before {
  content: "\e615";
}
.toutiao-zuojiantou:before {
  content: "\e616";
}
.toutiao-shouye:before {
  content: "\e617";
}
.toutiao-fenxiang:before {
  content: "\e618";
}
.toutiao-zuopin:before {
  content: "\e619";
}
.toutiao-shipin:before {
  content: "\e61a";
}
.toutiao-youjiantou:before {
  content: "\e61b";
}
.toutiao-dianzan2:before {
  content: "\e61c";
}
.toutiao-yuedu:before {
  content: "\e61d";
}
.toutiao-shoucang:before {
  content: "\e61e";
}
